<div class="wrapper">
	<div class="sidebar" data-color="gray" data-image="./sidebar-4.jpg">

		<!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

		<div class="sidebar-wrapper">
			<div class="logo">
				<a href="http://www.google.com" class="simple-text"> Web
					Analytics </a>
			</div>

			<ul class="nav">
				<li class="active"><a href="/Analytics/resources/index.html#/">
						<i class="pe-7s-graph"></i>
						<p>Dashboard</p>
				</a></li>
			</ul>
		</div>
	</div>

	<div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#navigation-example-2">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Dashboard</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <i class="fa fa-dashboard"></i>
						</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <i class="fa fa-globe"></i> <b
								class="caret"></b> <span class="notification">5</span>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Notification 1</a></li>
								<li><a href="#">Notification 2</a></li>
								<li><a href="#">Notification 3</a></li>
								<li><a href="#">Notification 4</a></li>
								<li><a href="#">Another notification</a></li>
							</ul></li>
						<li><a href=""> <i class="fa fa-search"></i>
						</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href=""> Account </a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> Dropdown <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something</a></li>
								<li class="divider"></li>
								<li><a href="#">Separated link</a></li>
							</ul></li>
						<li><a href="#"> Log out </a></li>
					</ul>
				</div>
			</div>
		</nav>



		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="card">
							<div class="header">
								<h4 class="title">Website Statistics - Grid View</h4>
								<div class="category ">Top 5 Websites based of # of hits</div>
								</br>

								<form class="form-inline">
									<div class="form-group">
										<label for="exampleInputName2">Choose a Date :</label>
										<ng-datepicker class="form-control" ng-model="date1"
											format="YYYY-MM-DD" view-format="YYYY-MM-DD">
										</ng-datepicker>
									</div>
									<button type="button" class="btn btn-fill  btn-sm"
										ng-click="getWebstat(date1)">Submit</button>
								</form>
							</div>
							<div class="content">	
								<div ng-if="hitCount!=''"
									class="content table-responsive table-full-width">
									<table class="table table-hover table-striped">
										<tr>
											<th ng-click="doSort('name')">Name <i
												class="icon-arraw-up"></i></th>
											<th ng-click="doSort('visits')">Visits <i
												class="fa fa-fw fa-sort"></i></th>
	
	
										</tr>
										<tr
											ng-repeat="website in hitCount | date | orderBy:sortBy:reverse">
											<td>{{ website.name }}</td>
											<td>{{ website.visits }}</td>
	
	
										</tr>
									</table>
									<p ng-show="!hitCount.length">no vals with this filter</p>
	
								</div>
							</div>
						
						</div>
					</div>	
					<div class="col-sm-6">
						<div class="card">
							<div class="header">
								<h4 class="title">Website Statistics - Chart View</h4>
								<p class="category">Top 5 Websites based of # of hits</p>
							</div>
							<div class="content">

								<span> TODO- Under Development</span>

							</div>

						</div>
					</div>


				</div>
			</div>
		</div>


		<footer class="footer">
			<div class="container-fluid">
				<nav class="pull-left">
					<ul>
						<li><a href="#"> Home </a></li>
						<li><a href="#"> Company </a></li>
						<li><a href="#"> Portfolio </a></li>
						<li><a href="#"> Blog </a></li>
					</ul>
				</nav>
				<p class="copyright pull-right">
					&copy; 2016 <a href="http://Google.com">XYZ corporation</a>
				</p>
			</div>
		</footer>

	</div>
</div>